#paper
{
	width: auto;
	height: 500px;
	border: 1px solid #aaa;
	/*background-color: #ccefe1;
	background-image: url(../images/backgroung.jpg);  */
}

#paper.error
{
	border: 1px solid red;
}

#paper.success
{
	border: 1px solid green;
}